.Card {
  min-width: 200px;
  min-height: 320px;
  padding: 10px;
  border: solid 2px black;

  &_div {
    display: flex;
    width: 200px;
    height: 200px;
    border: solid 1px black;
  }

  &_img {
    max-width: fit-content;
    max-height: fit-content;
  }

  &_title {
    text-align: center;
    text-transform: capitalize;
  }

  &_buttons {
    display: flex;
    margin-bottom: 20px;
  }

  &_btn {
    width: 90px;
    height: 30px;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 4px;
    
    &:first-child {
      margin-right: 16px;
    }
  }
}
