.Details {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5vw;
  padding-top: 0;
  top: 1vh;
  right: 7vw;
  width: 23vw;
  height: 97vh;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 900px) {
    font-size: 0.7em;
    top: 5vh;
    right: 5vw;
    padding: 0;
    height: 90vh;
  }

  @media (max-width: 600px) {
    height: 80vh;
    top: 10vh;

  }

  &_container {
    display: flex;
    height: 37vh;
    box-sizing: border-box;

    @media (max-width: 900px) {
      height: 30vh;
    }

    @media (max-width: 600px) {
      height: 18vh;
    }
  }

  &_bottom {
    display: grid;
  }

  &_title {
    margin: 0;
    text-transform: capitalize;
    font-size: 2em;

    @media (max-width: 900px) {
      font-size: 1.5em;
    }
  }

  &_list {
    list-style: none;
    -webkit-padding-start: 0;;

    @media (max-width: 900px) {
      -webkit-padding-start: 1vw;
    }
  }

  &_item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 18vw;
    border:  1px solid black;
    margin-top: -1px;
    padding: 0.7vh;
    font-size: 1.5em;
    text-transform: capitalize;

    @media (max-width: 900px) {
      font-size: 1em;
      width: 20vw;
    }

    @media (max-width: 600px) {
      padding: 0.6vh;
    }
  }
}
